/* #33348e  blue*/
/* #cc2229  red */


body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
        url(../images/dnr.jpg);
    background-size: cover;
    background-position: center;
}

img {
    width: 110px;
    height: 35px;
    margin-bottom: 10px;
}

.login-container {
    background: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.login-container h1 {
    margin-bottom: 2.5rem;
    color: #33348e;
}

.form-group {
    margin-bottom: 1rem;
    text-align: left;
}

label {
    font-size: 0.9rem;
    color: #333;
}

input {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.3rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color: #33348e;
    color: white;
    border: none;
    padding: 0.7rem;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 1rem;
}


.error-message {
    color: red;
    font-size: 0.9rem;
    margin-top: 1rem;
    display: none;
}